# Dependency directories
node_modules/
jspm_packages/

# TypeScript and Build output
lib/
dist/
temp/
release/
assets/

# Dotnet output
bin/
obj/
publish/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# User-specific settings
*.user
.vscode/
local.settings.json
config/serve.json